:root {
    --backgorund_color_dark: #2F2F2F;
    --facteur_agrandissement_img: 12;
}



body {
    background-color: var(--backgorund_color_dark);
    color: white;
}


#download_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#download_form form {
    width: 400px;
}




#convert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

#convert img {
    width: calc(16px*var(--facteur_agrandissement_img));
    height: calc(9px*var(--facteur_agrandissement_img));
}

#convert table {
    margin-top: 20px;
}

#convert table td:not(:last-child) {
    text-align: center;
    padding: 8px 25px;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(153, 153, 153);
    
}

#convert table tbody tr input {
    background-color: #00a6e8;
    margin-left: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
}

#convert table tbody tr input:hover {
    background-color: #00bce7;
}
