<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pytube-downloader</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets.css') }}">
</head>
<body>

    <div id="download_form">
        <form action="{{ url_for('convert') }}" method="POST">
            <div id="download_link">
                <div class="input_box">
                    <input type="text" name="link" required>
                    <label>Lien de la vidéo</label>
                    <span></span>
                </div>
            </div>

            <div>
                <input type="submit" class="button1" value="Convertir" />
            </div>

        </form>

    </div>


    {% if datas %}
        {% extends "other_templates/all_videos.html" %}
    {% endif %}


    
    <!--Block containing others files code-->
    {% block contenu %}
    {% endblock %}

</body>
</html>